.thumbnail {
    padding-left: 16px;
    width: 100%;
    flex-direction: column;
}

.thumbnail p {
    font-weight: bold;
    font-size: 18px;
}

.list-images {
    background-color: #343a40;
    color: #d2ae6c;
    width: 100%;
}

.each-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    height: 100%;
}
.each-box .btn-remove {
    position: absolute;
    right: 16px;
    top: 0;
    background-color:transparent;
    color: red;
    cursor: pointer;
    border: 0;
}

.btn-remove svg {
    vertical-align: top;
}

.each-image {
    width: 100%;
    height: 100%;
}

.selected {
    border: 8px solid #d2ae6c;
}

.image {
    align-self: center;
    width: 100%;
}

.centered {
    text-align: center;
    font-size: 14px;
    width: 100%;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}