.page {
  width: 100%;
  height: 100%;
}

.gold {
  color: '#d2ae6c'
}

.black {
  color: black;
}

.custom-link {
  color: #d2ae6c;
}
.custom-link:hover {
  color: #d2ae6c;
  text-decoration: none;
}

.right {
  float: right;
}